<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @city.name %>
</p>

<p>
  <b>Content:</b>
  <%= @city.content %>
</p>

<p>
  <b>Lat:</b>
  <%= @city.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @city.lng %>
</p>

<p>
  <b>Country:</b>
  <%= @city.country.name %>
</p>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
